<div class="login-container">
    <div id="small-logo">
        <img src="../../assets/images/logo.png" alt="FinalZone" />
      </div>
    <div id="welcome">
      <h1>FinalZone</h1>
      <p>The <span>only</span> way to run your battle royale tournament</p>
    </div>
    <div id="login-form-container">
      <div id="logo">
        <img src="../../assets/images/logo.png" alt="FinalZone" />
      </div>
      <h1>FinalZone</h1>
      <form id="login-form">
        <mat-form-field>
          <mat-label for="email">Email</mat-label>
          <input type="email" matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label for="password">Password</mat-label>
          <input type="password" matInput type="password" />
        </mat-form-field>
        <button id="login-button" routerLink="/home" mat-flat-button type="submit" color="primary">Login</button>
      </form>
  
      <span class="copyright">FinalZone © 2020. All rights reserved.</span>
    </div>
  </div>
  
